/* Menu */
.q-header .menu {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 20px;
}

.q-header .menu:hover,
.q-header .menu.active {
    color: var(--primary);
}

/* Quiz Questions */
.questions p {
    color: var(--primary);
    font-size: 20px;
    font-style: italic;
}

.q-hint {
    font-size: 20px;
    color: var(--primary);
    float: right;
    cursor: pointer;
}

.q-hint:active {
    transform: translateY(2px);
}

/* Quiz Style  */
.q-radio-field {
    display: flex;
    height: 100px;
    align-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.q-radio-field input[type=radio] {
    appearance: none;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: auto;
    cursor: pointer;
    border: solid 5px rgb(233, 233, 233);
    border-radius: 6px;
    padding: 35px;
    transition: 0.5s all ease;
}

.q-radio-field label {
    font-size: 16px;
    color: rgb(37, 50, 98);
    font-weight: bold;
    padding-left: 20px
}

.q-radio-field input[type=radio]:checked {
    border-color: var(--primary);
}

@media screen and (max-width: 992px) {

    .qt-hero {
        font-size: 40px;
    }

}

@media screen and (max-width: 576px) {

    .q-hero {
        flex-direction: column-reverse;
    }


    .hero-textarea {
        text-align: center;
    }

}