/* Menu */
.q-header .menu {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 20px;
}

.q-header .menu.active,
.q-header .menu:hover {
    color: var(--primary);
}


@media screen and (max-width: 992px) {

    .hero-textarea h1 {
        font-size: 30px;
    }

}

@media screen and (max-width: 576px) {

    .q-hero {
        flex-direction: column-reverse;
    }

    .hero-textarea {
        text-align: center;
    }

}