/* Menu */
.q-header .menu {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 20px;
}

/* .q-header .menu:hover, */
.q-header .menu.active {
    color: var(--primary);
}


@media screen and (max-width: 992px) {

    .qt-hero {
        font-size: 40px;
      }

}

@media screen and (max-width: 576px) {

    .q-hero {
        flex-direction: column-reverse;
    }
    

    .hero-textarea {
        text-align: center;
    }

}