@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root {
  --primary: #00b5ca;

}

/* Global Css */
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

p {
  font-size: 18px;
}

.t-primary {
  color: var(--primary);
}

.qt-hero {
  font-size: 70px;
  font-weight: bold;
}